<link href="style.css" rel="stylesheet">
<link href="time/timeTo.css" type="text/css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="script.js"></script>
<script src="time/jquery.time-to.min.js"></script>
<div class="content">
	<div class="btn play" id="play">
		Начать тест
	</div>

	<div class="block2" id="info">
		<h1>Оценка селекции объектов в зависимости от значимости</h1>

		<div class="rules" id="page1">
			<img src="36.png" width="40">
			<h2>
				Задание предназначено для определения скоростных характеристик селекции информации
				с оценкой цвета (первый уровень сложности) или одновременно и цвета,
				и формы (второй уровень сложности) целевого объекта.
			</h2>
			<p id="lev">При предъявлении на экране геометрической фигуры (круга, квадрата или треугольника),
				имеющих разный цвет (красный, синий или зеленый), следует как можно быстрее нажимать курсор «вправо»
				(«Да») если показанная фигура такая же по цвету как предыдущая, иначе (как на приведенном ниже рисунке)
				- нажимать кнопку курсор «влево» («Нет»). Старайтесь принимать решение как можно быстрее, не теряя при
				этом точности определения.
			</p>
		</div>
		<div class="rules2" id="page2">
			<img src="35.png" width="40">
			<h2>Выберите уровень сложности</h2>
			<select name="level" id="levels">
				<option value="first">Цвет</option>
				<option value="second">Форма</option>
				<option value="third">Текстура</option>
				<option value="fourth">Вращение</option>
			</select>
			<p> Первый уровень - 10 фигур, 3 разные формы, 2 разных цвета, 2 группы фигур и искомый стимул</p>
			<p> Второй уровень - 10 фигур, 5 разных форм, 3 разных цвета, 3 группы фигур и искомый стимул</p>
			<p> Третий уровень - 15 фигур, 10 разных форм, 5 разных цветов, 4 группы фигур и искомый стимул</p>
			<input class="btn next" id="next" type="submit" value="Далее">
		</div>
	</div>
	<div id="test-info"></div>
	<div class="counter">
		<b id="three">3</b>
		<b id="two">2</b>
		<b id="one">1</b>
	</div>

	<p class="result"></p>

	<input class="next-test" type="button" value="Далее">

	<div id="cancel">
		<h1>Тест пройден</h1>
		<div class="btn" id="cancel-btn">Выход</div>
	</div>
	<div id="wrap"></div>
</div>