/*TODO: delete div*/
div{
	box-sizing: border-box;
}

@keyframes rotate {
	0% {
	  -webkit-transform: rotateZ(0deg);
	}
	100% {
	  -webkit-transform: rotateZ(360deg);
	}
  }

.content
{
	width:1000px;
	height:600px;
	padding:50px;
	background:url("03.jpg");
	margin:40px auto;	
	background-size:cover;
	border-radius:20px;
	position:relative;
}

.content:after
{
	content: '';
	display: block;
	clear: both;
}
.btn
{
	cursor:pointer;
	display: inline-block;
	color: #ffffff !important;
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: .5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(#2C85F2, #4B95F0) rgb(110,112,120);
	box-shadow:
	0 1px rgba(255,255,255,.2) inset,
	0 3px 5px rgba(0,1,6,.5),
	0 0 1px 1px rgba(0,1,6,.2);
}

.btn:hover:not(:active) 
{
	background: linear-gradient(#2C85F2, #4B95F0) rgb(110,112,120);
}

.btn:active 
{
	background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
	box-shadow:
	0 0 1px rgba(0,0,0,.5) inset,
	0 2px 3px rgba(0,0,0,.5) inset,
	0 1px 1px rgba(255,255,255,.1);
}

#play 
{	
	position: relative;
	margin-top:180px;
	left:34%;
	font-size: 40px;
	font-weight: 700;
}

#next
{
	position:relative;
	width:170px;
	text-align:center;
	font-size:25px;
	margin:25px 0 0 120px;
	border:0;
}

.block2 
{
	display:none;
    margin: 0px auto;
    width: 900px;
    height: 500px;
    padding:10px;
    border: 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2);    border-color: #fff;
    background-color: #D4E3F0;
    background: -moz-linear-gradient(top, #fff, #D4E3F0 50%, #ABBDCD);
    background: -webkit-gradient(linear, left top, left bottom, from(#D4E3F0), color-stop(0.5, #D4E3F0), to(#ABBDCD));
}
.block2 img
{
	margin:15px 5px 0px 0 ;
	float:left;
}
.block2 .rules
{
	background:white;
	border-radius:10px;
	padding:15px;
	width:430px;
	float:left;
	height:420px;
}
.block2 .rules2
{
	background:white;
	border-radius:10px;
	padding:15px;
	width:430px;
	height:420px;
	float:right;
}
.block2 p
{ 
    margin-top: 15px !important;
    text-align: left !important;
}
.block2 h1
{ 
   text-align:center;
	color:black;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0 20px 0; 
}
.block2 h2{
	color:black;
    font-size: 17px;
	margin: 25px 0 20px 0; 
}

/*#info
{
	width: 450px;
}

#info .rules
{
	width:430px;
	height:200px;
}*/

.next-test
{
	top:70%;
	display:none;
	width:120px;
	position:absolute;
	font-size:22px;
	left:44%;
	border:0;
	color:#fff;
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: .5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(#2C85F2, #4B95F0) rgb(110,112,120);
	box-shadow:
	   0 1px rgba(255,255,255,.2) inset,
	   0 3px 5px rgba(0,1,6,.5),
	   0 0 1px 1px rgba(0,1,6,.2);
}

.return-tests
{
	border:0;
	position:absolute;
	font-size:22px;
	margin:-5.2% 0 0 21%;
	display:inline-block;
}

.return-tests:hover
{
	text-decoration:none;
}

#levels
{
	width:200px;
	margin:20px 0 0 45px;
	font-size:16px;
	height:40px;
	padding:5px;
	border-radius:5px;
	
}

#levels option:hover
{
	background:#2C85F2;
	color:white;

}

.counter
{
	width:350px;
	position:absolute;
	top: 50%;
	left: 45%;
	font-size:55px;
} 

#one,#two,#three
{
	display:none;
	padding:10px 25px;
	margin:0 5px;
	border-radius:50px;
	color:#fff;
	background: linear-gradient(#2C85F2, #4B95F0) rgb(110,112,120);
	box-shadow:
	   0 1px rgba(255,255,255,.2) inset,
	   0 3px 5px rgba(0,1,6,.5),
	   0 0 1px 1px rgba(0,1,6,.2);
}

.game
{
	display:none;
}
	
.test-tab
{
	margin: 50px auto;
	border-collapse: separate;
	border-spacing: 5px;
	background: #C5D5E4;
	border: 16px solid #C5D5E4;
	border-radius: 20px;
}

.tet-tab tr 
{
	font-size: 18px;
	padding: 20px;
}

.test-tab td 
{
	border:1px solid grey;
	background: #ffffff;
}

.tab1 td
{
	padding: 40px;
}

.tab2 td
{
	padding: 30px;
}

.tab3 td
{
	padding: 25px;
}

.blue
{	
	background: #45A5EE !important;
}

.green
{	
	background: #3EE182 !important;
}

.img
{
	display:none;
	position:absolute;
	left:45%;
	top:0%;
	width:150px;
	height:150px;
	background-size: 50%; 
}

.check
{
	opacity:1 !important;
	background:url("check.png") no-repeat ;
}

.close
{
	opacity:1 !important;
	background:url("close.png") no-repeat ;
}

.result
{
	display:none;
}

.not-available
{
	pointer-events:none;
	opacity:0.4;
}

.finish
{
	text-align:center;
	font-size: 20px;
    font-weight: bold;
    margin: 5px 0 20px 150px; 
}

#info img
{
	margin:30px 15px 0 0;
}

#info .percent
{
	display:block;
	margin-top:30px !important;
	font-size:18px;
}

.restart
{
	border:0;
	font-size:22px;
	margin: 130px 160px 0 15px;
}
/*---------------------------------------------*/



#sample{
	display: none;
	height: 150px;
	width: 150px;
	top: 10%;
	left: 425px;
	position: absolute;
}

#cancel{
	position: absolute;
	top: 60%;
	left: 425px;
	text-align: center;
	display: none;
}

#test-info{
	display: none;
	/*top: 10%;
	left: 50px;*/
	position: relative;
	width: fit-content;
	background: rgba(255, 255, 255, .5);
	padding: 12px;
	border-radius: 10px;
}

#test-info #rount-time{
	display: inline-block;
}

#wrap 
{
	display:none;
}

#scene {
	display: flex;
	width: 100%;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: space-between;
}

.shape-item, .empty-item {
	display: block;
	box-sizing: border-box;
	margin: 10px;
}
.shape-item {
	cursor: pointer;
	height: 75px;
	width: 75px;
}

.empty-item {
	height: 100px;
	width: 100px;
}

.small-shape {
	margin: 10px;
  	height: 100px;
	width: 100px;
}

.shape-img, .shape-img-sample {
	transition: 0.2s;
	box-sizing: border-box;
	background-size: 100%;
	width: 100%;
	height: 100%;
}

.shape-img:hover{
	transform: scale(1.1);
}

.left-rotate {
	animation: rotate 7s reverse linear infinite;
	-webkit-animation: rotate 7s reverse linear infinite;
}

.right-rotate {
	animation: rotate 7s linear infinite;
	-webkit-animation: rotate 7s linear infinite;
}

#result {
	display: flex;
	justify-content: space-around;
	
}

.level-result {
	display: inline-block;
	background: rgba(255, 255, 255, .5);
	border-radius: 10px;
	padding: 15px;
	text-align: center;
}

#result table td, #result table th{
	padding: 5px;
	border-bottom: 2px solid rgba(255, 255, 255, .5);
}

#result table {
	border-collapse: collapse;
	overflow: hidden;
	border: 0px;
	text-align: center;
	border-radius: 5px;
}

#result table tr.header{
	background-color: rgba(182, 182, 182, 0.5);
}

#result table tr.right{
	background-color: rgb(194, 255, 159);
}

#result table tr.wrong {
	background-color: rgb(236, 143, 143);
}

#result table tr:last-child {
	background-color: rgba(182, 182, 182, 0.5);
}

.bar 
{
	float:left;
	clear:both;
	width:100%;
	height:35px;
	position:relative;
	top:105%;
}

.bar .progress
{
	background:#2caedd;
	background:-moz-linear-gradient(left, #2caedd 0%, #86dd2a 28%, #e0d72a 46%, #e8902c 66%, #ed2d2d 86%, #ff0000 100%);
	background:-webkit-gradient(linear, left top, right top, color-stop(0%,#2caedd), color-stop(28%,#86dd2a), color-stop(46%,#e0d72a), color-stop(66%,#e8902c), color-stop(86%,#ed2d2d), color-stop(100%,#ff0000));
	background:-webkit-linear-gradient(left, #2caedd 0%,#86dd2a 28%,#e0d72a 46%,#e8902c 66%,#ed2d2d 86%,#ff0000 100%);
	background:-o-linear-gradient(left, #2caedd 0%,#86dd2a 28%,#e0d72a 46%,#e8902c 66%,#ed2d2d 86%,#ff0000 100%);
	background:-ms-linear-gradient(left, #2caedd 0%,#86dd2a 28%,#e0d72a 46%,#e8902c 66%,#ed2d2d 86%,#ff0000 100%);
	background:linear-gradient(left, #2caedd 0%,#86dd2a 28%,#e0d72a 46%,#e8902c 66%,#ed2d2d 86%,#ff0000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2caedd', endColorstr='#ff0000', GradientType=1);
	float:left;
	width:100%;
	height:40px;
	position:relative;
}

.bar .progress span 
{
	display:block;
	position:absolute;
	top:0;
	right:0;
	z-index:2;
	width:100%;
	height:40px;
	background:rgba(255, 255, 255, .7);
}

.bar .circle 
{
	display:block;
	position:absolute;
	top:50%;
	left:4%;
	z-index:3;
	margin:-40px 0 0 -40px;
	width:80px;
	height:80px;
	line-height:80px;
	text-align:center;
	font-size:20px;
	font-family:'PT Sans Narrow', sans-serif;
	color:#fff;
	background:rgba(0, 0, 50, .1);
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
}

.bar .circle span 
{
	display:inline-block;
	width:70px;
	height:70px;
	line-height:70px;
	background:rgba(0, 0, 50, .3);
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-radius:35px;
}

.bar .circle.rotate 
{
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
}

.mar {
	margin-left: 20%;
}